.App {
  text-align: left;
  margin: 20px;
}
.bikeList li {
  list-style-type: none;
}
table {
  border-spacing: 0;
  width: 100%;
}
  tr:nth-child(even) {background: #f2f2f2;
}

table tr td {
  border-top: 1px solid #f2f2f2;
  padding: 8px;
}
th {
  padding: 8px;
}
thead {
  background-color: #ececec;
  position: sticky;
  top: 0;
}



